# Python
*.pyc

# output files
*.json
*.log

# CI
.coverage
.tox

# pywikibot
*secretPasswords
user-config.py
*.ctrl
*.lwp
apicache
user-password.py
nm_output.filenames.txt
connections/commons-keywords.wiki
connections/commons-people.wiki
connections/commons-places.wiki
scripts/*
pwb.py
apicache-py3/*
