# Python
*.pyc

# output files
*.log

# CI
.coverage
.tox

# pywikibot
*secretPasswords
*.ctrl
*.lwp

scripts/*
pwb.py

# Passwords
user-config.py
user-password.py

# Cache
apicache
apicache-py3/*
cache/*

# Mappings
connections/*
mappings/*
